@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">

    <div class="p-5 mb-4 bg-light rounded-3 shadow">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-4 fw-bold text-danger">Welcome to ASHDRES!</h1>
            <p class="lead text-muted">Home of Asthine & Andres – The Icons of Section E</p>
            <hr class="my-4">
            <p class="text-dark">From the classroom spotlight to your screen, ASHDRES of Section E. Get to know their journey, check out photos, and explore what made "Ang Mutya ng Section E" unforgettable.</p>
        </div>
    </div>


    <div class="text-center mt-5">
        <p class="text-muted">The Stars of Section E 💖</p>
    </div>
</div>
