@{
    ViewData["Title"] = "Photos";
}

<div class="container mt-5">
    <h2 class="mb-4">Photo Gallery</h2>

    <div class="row g-4">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="https://im.indiatimes.in/content/2025/Apr/ashdres--1_6800bc47a0e8d.jpg?w=1200&h=900&cc=1&webp=1&q=75" class="card-img-top" alt="Photo 1">
                <div class="card-body">
                    <p class="card-text">Behind The Scenes.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="https://i0.wp.com/popjournalofficial.com/wp-content/uploads/2025/02/20250222_sabawatsandali_mv.jpg?fit=1440%2C1080&ssl=1" class="card-img-top" alt="Photo 2">
                <div class="card-body">
                    <p class="card-text">Sabawat Sandali MV.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="https://tnt.abante.com.ph/wp-content/uploads/2025/02/sare1.jpg" class="card-img-top" alt="Photo 3">
                <div class="card-body">
                    <p class="card-text">Ashtine Olviga as Jayjay and Andres Mulach as Kiefer.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="https://i.pinimg.com/736x/30/be/0a/30be0a24255b4d7b7a092c5cf69d71ca.jpg" class="card-img-top" alt="Photo 4">
                <div class="card-body">
                    <p class="card-text">Jasper Jean Mariano.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="https://i.pinimg.com/736x/1d/04/84/1d048464f060bdb3d2c1a918a783c982.jpg" class="card-img-top" alt="Photo 5">
                <div class="card-body">
                    <p class="card-text">Kiefer and Jayjay.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="https://i.pinimg.com/736x/be/6a/2d/be6a2df7430b35125048cc270e414d18.jpg" class="card-img-top" alt="Photo 6">
                <div class="card-body">
                    <p class="card-text">Mark Keifer Watson.</p>
                </div>
            </div>
        </div>
    </div>
</div>
